<h3>Notes</h3>
<div ng-controller = "OverviewCtrl">
	<div style="color:red;">{{errorMsg}}</div>
	<input type="text" class="form-control" ng-model="newItem.author" placeholder="author">
	<input type="text" class="form-control" ng-model="newItem.text" placeholder="text">
	<button class="btn btn-default" ng-click="add(newItem)" type="button">Add</button>
	<div ng-repeat="item in items">
  		<div class="caption" id="value">{{item.date}}</div>
		<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;author&nbsp;&nbsp;</span>
			  <input type="text" class="form-control" ng-model="item.author_enc" aria-describedby="basic-addon1">
			</div>
		<div class="encrypted" ng-repeat="note in item.notes">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">{{note.time || '00:00:00'}}</span>
			  <input type="text" class="form-control" ng-model="note.text_enc" aria-describedby="basic-addon1">
			</div>
		</div>
		<br />
	</div>
</div>